@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>TestEnvValue: @Model.TestEnvValue</h3>
    <h3>ConnectionString: @Model.ConnectionString</h3>

    <h1 class="display-4">Rooms count: @Model.rooms.Keys.Count</h1>
    @foreach (var roomName in Model.rooms.Keys)
    {
        <div>@Model.rooms[roomName].SessionId</div>
    }
    <h1 class="display-4">Connections count: @Model.connections.Count</h1>
    @foreach (var connection in Model.connections)
    {
        <div>@connection</div>
    }
</div>
